
RewriteEngine on
RewriteCond %{HTTP_HOST} ^appartments\.eurodonetsk\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.appartments\.eurodonetsk\.com$
RewriteRule ^/?$ "eurodonetsk\.com\/apartaments" [R=301,L]

