
RewriteEngine on
RewriteCond %{HTTP_HOST} ^armenia.eurodonetsk.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.armenia.eurodonetsk.com$
RewriteRule ^/?$ "http\:\/\/www\.eurodonetsk\.com\/index\.php\?business_full\=390\&pm\=1" [R=301,L]

